.card{
    margin-top:10px;
    text-align: center;
}

.img-thumbnail{

    height: 100% !important;
    margin:auto;
    display:block;
    width:200px;
    margin-top:10px;
}
.btn-primary,.btn-danger
{
    margin:2px;
    width:44px;
}