.container-fluid{
    background-image: url("https://www.cjoint.com/doc/20_01/JACvYUuTtiG_fond.jpg");
    width: 100%;
    height: 100vh !important;
    background-size: cover;
}
._ngcontent-dua-c1{
    margin-right: -15px;
 }